# Pandas and Exploratory Data Analysis (EDA)

It's important that you hone your Pandas and exploratory data analysis (EDA) skills before the session starts. If you are having trouble, Google is your best friend! If you are still having problems, ask your fellow Fellows for help through the Platform. Good luck!
<br> <br>
Begin by downloading the Crunchbase dataset on start-up investments, which can be found [here](https://drive.google.com/file/d/1zsjN1tGWdXPb4wf4eTM62usMciSV-0sX/view).

**Exercise:**
The first thing we should do is import the Pandas library. It will probably be helpful to give this library an alias, too. Then, import the dataset and give it a name!

In [1]:
import pandas as pd

Some of you may have experienced a problem already - thats ok! We can deal.
<br><br>
The problem here is that the dataset is encoded in Latin-1, but Pandas has defaulted to UTF-8 encoding. Bad, pandas! But it's ok, you can correct for this by specifying the encoding in your command. <br><br>
*Pro tip:* If you're having trouble, try Googling your error messages. You are probably not the first to encounter any particular error.

In [2]:
df = pd.read_csv('./input/Crunchbase_Startup_Investment_Data.csv', encoding='latin1')

Now that we have successfully imported the data, let's do some Exploratory Data Analysis! 

**Exercise:**<br>
Let's begin by displaying the first 5 rows of each column. <br>(*Hint: there is a special command for this!*)

In [4]:
df.head(5)

,company_permalink,company_name,company_category_list,company_market,company_country_code,company_state_code,company_region,company_city,investor_permalink,investor_name,...,investor_city,funding_round_permalink,funding_round_type,funding_round_code,funded_at,funded_month,funded_quarter,funded_year,raised_amount_total_usd,raised_amount_each
0,/organization/andrewburnett-com-ltd,AndrewBurnett.com Ltd,|Internet|SEO|Services|Public Relations|Social...,Internet,GBR,NaN,Edinburgh,Edinburgh,/organization/ekaf,Ekaf,...,NaN,/funding-round/14fe2864e02d0f15ddc3ec8eacdc8e1b,seed,NaN,1974-01-01,1974-01,1974-Q1,1974,NaN,-
1,/organization/abo-data,ABO Data,|Enterprise Software|,Enterprise Software,USA,TX,TX - Other,Italy,/person/antonio-murroni,ANTONIO MURRONI,...,NaN,/funding-round/809e211b969c3f66440fc15ffcd29385,seed,NaN,1979-01-01,1979-01,1979-Q1,1979,"1,000,000",#DIV/0!
2,/organization/abo-data,ABO Data,|Enterprise Software|,Enterprise Software,USA,TX,TX - Other,Italy,/person/filippo-murroni,FILIPPO Murroni,...,NaN,/funding-round/809e211b969c3f66440fc15ffcd29385,seed,NaN,1979-01-01,1979-01,1979-Q1,1979,"1,000,000",#DIV/0!
3,/organization/ikro,Ikro,NaN,NaN,BRA,NaN,BRA - Other,Canoas,/organization/crp-companhia-de-participacoes,CRP Companhia de Participac?o?es,...,NaN,/funding-round/46c353a8249170cc4b6ab89a522fefdc,venture,A,1982-06-01,1982-06,1982-Q2,1982,"724,000",#DIV/0!
4,/organization/indelsul,Indelsul,NaN,NaN,NaN,NaN,NaN,NaN,/organization/crp-companhia-de-participacoes,CRP Companhia de Participac?o?es,...,NaN,/funding-round/48e8db0d90f95934831603622cb3f46a,venture,A,1982-12-01,1982-12,1982-Q4,1982,"165,000",#DIV/0!

**Question:**<br>
How many columns are in this dataset? How many rows?

In [6]:
print("Columns: ", len(df.columns))
print("Rows: ", len(df))

Columns:  25
Rows:  114505

**Exercise:**<br>
You'll probably notice that the command above actually truncates the number of columns it shows. This is to make display easier. However, we will definitely want to see each of the column names so that we know what kinds of data are available to us. Try pulling out all of the column names.

In [7]:
df.columns

Index(['company_permalink', 'company_name', 'company_category_list',
       'company_market', 'company_country_code', 'company_state_code',
       'company_region', 'company_city', 'investor_permalink', 'investor_name',
       'investor_category_list', 'investor_market', 'investor_country_code',
       'investor_state_code', 'investor_region', 'investor_city',
       'funding_round_permalink', 'funding_round_type', 'funding_round_code',
       'funded_at', 'funded_month', 'funded_quarter', 'funded_year',
       'raised_amount_total_usd', 'raised_amount_each'],
      dtype='object')

**Question:**<br>
What are the data types in each column?

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114505 entries, 0 to 114504
Data columns (total 25 columns):
company_permalink          114505 non-null object
company_name               114504 non-null object
company_category_list      111242 non-null object
company_market             111240 non-null object
company_country_code       107146 non-null object
company_state_code         79158 non-null object
company_region             107146 non-null object
company_city               105800 non-null object
investor_permalink         114439 non-null object
investor_name              114439 non-null object
investor_category_list     30507 non-null object
investor_market            30455 non-null object
investor_country_code      86521 non-null object
investor_state_code        62274 non-null object
investor_region            86521 non-null object
investor_city              86007 non-null object
funding_round_permalink    114505 non-null object
funding_round_type         114505 non-null object
funding_round_code         54669 non-null object
funded_at                  114505 non-null object
funded_month               114505 non-null object
funded_quarter             114505 non-null object
funded_year                114505 non-null int64
raised_amount_total_usd    101154 non-null object
raised_amount_each         114505 non-null object
dtypes: int64(1), object(24)
memory usage: 21.8+ MB

One of the inevitable frustrations in working with large datasets is that they can be messy. Often, values can be missing. Values might be missing because they don't apply, or simply because they got lost in the shuffle (e.g. wasn't recorded, data was corrupted, etc.) Missing values can take different forms in different datasets - and sometimes even multiple forms! One typical form is NaN, which is an acronym for Not A Number. <br><br>
**Question:**<br>
How many NaN's appear in each column? How many total across columns?

In [16]:
x = df.isna().sum()
print(x)
print("Total Number: ", x.values.sum())

company_permalink              0
company_name                   1
company_category_list       3263
company_market              3265
company_country_code        7359
company_state_code         35347
company_region              7359
company_city                8705
investor_permalink            66
investor_name                 66
investor_category_list     83998
investor_market            84050
investor_country_code      27984
investor_state_code        52231
investor_region            27984
investor_city              28498
funding_round_permalink        0
funding_round_type             0
funding_round_code         59836
funded_at                      0
funded_month                   0
funded_quarter                 0
funded_year                    0
raised_amount_total_usd    13351
raised_amount_each             0
dtype: int64
Total Number:  443363

**Exercise:**<br>
Let's take a look at all the columns that pertain to the amounts of money each company has raised. How many columns are relevant? Can you pull them all out at once?

In [17]:
col_list = ['raised_amount_total_usd','raised_amount_each']
df[col_list]

       raised_amount_total_usd raised_amount_each
0                          NaN               -
1                   1,000,000             #DIV/0!
2                   1,000,000             #DIV/0!
3                     724,000             #DIV/0!
4                     165,000             #DIV/0!
5                     155,000             #DIV/0!
6                      94,000             #DIV/0!
7                          NaN               -
8                          NaN               -
9                     243,000             #DIV/0!
10                    666,000             #DIV/0!
11                    169,000             #DIV/0!
12                         NaN               -
13                         NaN               -
14                         NaN               -
15                         NaN               -
16                         NaN               -
17                         NaN               -
18                  2,500,000             #DIV/0!
19                         NaN               -
20                         NaN               -
21                         NaN               -
22                         NaN               -
23                    476,000             #DIV/0!
24                         NaN               -
25                         NaN               -
26                         NaN               -
27                         NaN               -
28                         NaN               -
29                         NaN               -
...                        ...                ...
114475              5,000,000             #DIV/0!
114476              8,450,000             #DIV/0!
114477              8,450,000             #DIV/0!
114478              8,450,000             #DIV/0!
114479              8,450,000             #DIV/0!
114480              8,450,000             #DIV/0!
114481              6,230,684             #DIV/0!
114482              7,000,000             #DIV/0!
114483            100,000,000             #DIV/0!
114484             20,000,000             #DIV/0!
114485             20,000,000             #DIV/0!
114486             20,000,000             #DIV/0!
114487              5,500,000             #DIV/0!
114488              5,500,000             #DIV/0!
114489              1,200,000             #DIV/0!
114490              1,200,000             #DIV/0!
114491              1,200,000             #DIV/0!
114492              1,200,000             #DIV/0!
114493              1,200,000             #DIV/0!
114494              1,200,000             #DIV/0!
114495              4,900,000             #DIV/0!
114496              4,900,000             #DIV/0!
114497              4,900,000             #DIV/0!
114498             12,500,000             #DIV/0!
114499             12,500,000             #DIV/0!
114500             12,500,000             #DIV/0!
114501             34,000,000             #DIV/0!
114502             34,000,000             #DIV/0!
114503             34,000,000             #DIV/0!
114504                    -               #DIV/0!

[114505 rows x 2 columns]


One of the first things that you should notice is that the column 'raised_amount_each' is completely useless. This kind of thing is another unfortunate consequence of large datasets - they can be messy, and sometimes data doesn't get filled in correctly. 

Luckily, there is another column that can help us out here. Let's take a look at 'raised_amount_total_usd'.

You've probably noticed that some rows contain numbers, while others contain NaN's.

**Question:**<br>
How many rows contain numbers?

In [20]:
print("# with values: ", df['raised_amount_total_usd'].notnull().sum())
print("# with nulls: ", df['raised_amount_total_usd'].isnull().sum())

# with values:  101154
# with nulls:  13351

**Question:**<br>
How much money in total was raised across every company in this dataset?

In [62]:
#df['raised_amount_total_usd'] = df['raised_amount_total_usd'].str.strip().str.replace(',','')
#df['raised_amount_total_usd'][df['raised_amount_total_usd']=='-'] = 0.0
#df['raised_amount_total_usd'] = df['raised_amount_total_usd'].astype(float)
df.raised_amount_total_usd.sum()

1280964574193.0

Did you get an error? Oh noooooo! Can you piece together what happened from the TypeError? What type of data appears in that column? What can you do to remedy it?

(*Hint: you'll need to convert these values, but this may be a 2-step process. You may need to remove certain elements first.*)

Ok, whew! Now that THAT'S done, we can return to our question.

**Question:**<br>
How much money in total was raised across every company in this dataset?

WOW! That's a lot of moola!! Does it make you want to start a business?? Let's pretend you said 'yes'. And, since you're no dummy, I'm sure you would do the appropriate market research before crafting a business model. 

**Question**:<br>
How many unique types of company markets are there? What are they?

In [47]:
df.company_market.dropna().unique()

array(['Internet', 'Enterprise Software', 'Hardware',
       'Hardware + Software', 'Semiconductors', 'Health Care', 'Software',
       'News', 'Clean Technology', 'E-Commerce', 'Games', 'Social Media',
       'Advertising', 'Hospitality', 'Pets', 'Financial Services',
       'Security', 'Consulting', 'Business Information Systems', 'Retail',
       'Medical Devices', 'Sporting Goods', 'Web Hosting', 'Television',
       'Photography', 'Restaurants', 'Consumer Goods', 'Mobile',
       'Public Relations', 'VoIP', 'Finance', 'Biotechnology', 'Media',
       'Technology', 'Telecommunications', 'Information Technology',
       'Digital Media', 'Business Services', 'Networking',
       'Health and Wellness', 'Curated Web',
       'Reviews and Recommendations', 'Analytics', 'Auctions', 'Search',
       'Local Businesses', 'Music', 'Logistics Company', 'Banking',
       'Manufacturing', 'Web Design', 'Human Resources', 'Medical',
       'Payments', 'Recipes', 'Market Research', 'Travel', 'Computers',
       'Services', 'Hotels', 'Marketing Automation',
       'Consumer Electronics', 'Investment Management', 'Messaging',
       'Shopping', 'Advertising Platforms', 'Education', 'Real Estate',
       'Travel & Tourism', 'Wireless', 'Customer Service', 'Nonprofits',
       'App Marketing', 'Digital Rights Management',
       'Information Security', 'Online Shopping',
       'Communications Infrastructure', 'Fashion', 'Trading',
       'Information Services', 'Enterprises', 'Search Marketing',
       'Cloud Computing', 'Transportation', 'Business Intelligence',
       'Forums', 'Internet Marketing', 'Big Data Analytics',
       'Mobile Analytics', 'Shipping', 'Online Video Advertising',
       'Design', 'Commodities', 'Web Tools', 'Physicians',
       'Event Management', 'Storage', 'Application Platforms', 'Email',
       'Handmade', 'Women', 'Medical Professionals', 'Automotive',
       'Nanotechnology', 'Pharmaceuticals', 'Databases', 'Web CMS',
       'Sports', 'Electronics', 'Real Time', 'Sales and Marketing',
       'PaaS', 'SaaS', 'Content Delivery', 'Video Games', 'Audio',
       'Solar', 'Cloud Management', 'Entertainment', 'Data Security',
       'Public Transportation', 'Web Development', 'Sensors', 'Creative',
       'Open Source', 'Mobile Security', 'Innovation Engineering',
       'Advertising Networks', 'Insurance', 'Beauty', 'Android',
       'Cosmetics', 'Cable', 'Mobile Games', 'Employer Benefits Programs',
       'Communications Hardware', 'Flash Storage', 'Clean Energy',
       'iPhone', 'Healthcare Services', 'Broadcasting',
       'Trusted Networks', 'iOS', 'Video', 'Hospitals',
       'Personal Branding', 'SMS', 'Publishing', 'E-Commerce Platforms',
       'Communities', 'Linux', 'Navigation', 'Network Security',
       'Batteries', 'FreetoPlay Gaming', 'Employment', 'Agriculture',
       'Freelancers', 'Fitness', 'Doctors', 'Coupons',
       'Browser Extensions', 'Peer-to-Peer', 'SEO', 'Ticketing',
       'Social Network Media', 'Content', 'Virtualization',
       'Optimization', 'Data Integration', 'Semantic Web', 'CRM',
       'Marketplaces', 'Legal', 'Local', 'Local Based Services',
       'Cloud Data Services', 'Classifieds', 'Personal Finance',
       'Crowdsourcing', 'Unifed Communications', 'Privacy', 'Outsourcing',
       'Chat', 'Social Search', 'Internet of Things', 'Aerospace',
       'Mobile Devices', 'Displays', 'Graphics', 'IT Management',
       'Collaboration', 'Therapeutics', 'Video Streaming',
       'Visual Search', 'Video on Demand', 'Portals', 'Data Centers',
       'Fraud Detection', 'Identity Management', 'Contact Management',
       'Infrastructure', 'Mobile Payments', 'File Sharing', 'B2B', 'RFID',
       'Local Advertising', 'Digital Signage', 'Lighting',
       'Photo Editing', 'Energy', 'Cloud Security', 'MMO Games',
       'Engineering Firms', 'Maps', 'Productivity Software',
       'Demographies', 'Customer Support Tools', 'Email Marketing',
       'Genetic Testing', 'Photo Sharing', 'Test and Measurement',
       'Point of Sale', 'Content Creators', 'Online Scheduling', 'Guides',
       'Governments', 'Gps', 'Tracking', 'Testing',
       'Social Media Advertising', 'Online Dating', 'Credit',
       'Brand Marketing', 'Entrepreneur', 'Virtual Workforces',
       'Risk Management', 'Brokers', 'Diagnostics', 'Consumer Internet',
       'Predictive Analytics', 'Document Management', 'Social Games',
       'Big Data', 'Meeting Software', 'Life Sciences',
       'Environmental Innovation', 'Facebook Applications', 'Ediscovery',
       'Supply Chain Management', 'Personalization', 'Toys',
       'Price Comparison', 'Celebrity', 'Telephony', 'Direct Marketing',
       'Simulation', 'Kinect', 'App Stores', 'Finance Technology',
       'Service Providers', 'Career Management', 'Corporate Training',
       'Colleges', 'Blogging Platforms', 'Group SMS', 'Enterprise Search',
       'M2M', 'Cyber Security', 'Web Browsers', 'Social Bookmarking',
       'Social Opinion Platform', 'Politics', 'Construction', 'Startups',
       'Tech Field Support', 'Mobile Software Tools', 'Identity',
       'Chemicals', 'Training', 'Events', 'Image Recognition',
       'Social Business', 'Film', 'Semiconductor Manufacturing Equipment',
       'Logistics', 'Consumers', 'Semantic Search', 'Developer APIs',
       'Data Visualization', 'Apps', 'Creative Industries', 'Advice',
       'Private Social Networking', 'Gambling', 'Online Rental',
       'Virtual Worlds', 'Personal Health', 'Religion', 'Home & Garden',
       'All Markets', 'Lead Generation', 'Surveys', 'Vacation Rentals',
       'Speech Recognition', 'Usability', 'Monetization',
       'World Domination', 'Licensing', 'Location Based Services',
       'Cloud Infrastructure', 'Enterprise 2.0', 'Neuroscience',
       'Home Decor', 'Data Mining', 'Opinions', 'Game',
       'Business Development', 'Cyber', 'Game Mechanics', 'Online Gaming',
       'Discounts', 'Energy Management', 'Venture Capital',
       'Social Buying', 'Advertising Exchanges', 'Artists Globally',
       'Enterprise Resource Planning', 'Concerts', 'Mobile Enterprise',
       'Mobility', 'Auto', 'Twitter Applications', 'Synchronization',
       'Wind', 'Tea', 'Task Management', 'iPad', 'WebOS', 'Recruiting',
       'Art', 'Advanced Materials', 'Small and Medium Businesses',
       'Elder Care', 'Plumbers', 'Social CRM', 'Gift Card', 'Farming',
       'Health Care Information Technology', 'Mobile Commerce',
       'Sales Automation', 'Loyalty Programs', 'Universities',
       'Windows Phone 7', 'Content Discovery', 'Property Management',
       'Non Profit', 'Artificial Intelligence', 'Archiving',
       'Sustainability', 'Coworking', 'Electronic Health Records',
       'Online Travel', 'Social Media Marketing', 'IT and Cybersecurity',
       'MicroBlogging', 'Presentations', 'Internet Radio Market',
       'Performance Marketing', 'Charity', 'Promotional', 'Robotics',
       'Language Learning', 'Cars', 'Psychology', 'Tutoring',
       'Match-Making', 'Kids', 'NFC', 'Rapidly Expanding',
       'Twin-Tip Skis', 'Teenagers', 'Mobile Advertising', 'Smart Grid',
       'Billing', 'Google Apps', 'Ad Targeting', 'Mining Technologies',
       'Subscription Businesses', 'Leisure', 'Project Management',
       'Lead Management', 'Organic Food', 'All Students',
       'Homeland Security', 'Architecture', 'Career Planning',
       'Business Productivity', 'Commercial Solar', 'Cosmetic Surgery',
       'Specialty Chemicals', 'Oil', 'Printing', 'Nutrition',
       'Social Media Monitoring', 'Craigslist Killers', 'Journalism',
       'Incentives', 'Virtual Goods', '3D', 'Translation', 'Lifestyle',
       'Reputation', 'Green', 'Accounting', 'Renewable Energies',
       'Weddings', 'QR Codes', 'Recycling', 'Retail Technology',
       'Machine Learning', 'Developer Tools', 'Wealth Management',
       'Mobile Video', 'Flash Sales', 'Utilities', 'Charter Schools',
       'Online Auctions', 'Staffing Firms', 'Dental', 'Fantasy Sports',
       'Sunglasses', 'Software Compliance', 'Distributed Generation',
       'SNS', 'Cooking', 'Contests', 'Young Adults',
       'New Product Development', 'Shoes', 'Credit Cards',
       'Stock Exchanges', 'Water', 'DOD/Military', 'Energy Efficiency',
       'Data Center Automation', 'Green Consumer Goods', 'Direct Sales',
       'Flowers', 'Mobile Health', 'Taxis',
       'Application Performance Monitoring', 'Development Platforms',
       'P2P Money Transfer', 'Data Privacy', 'Mobile Shopping',
       'Sponsorship', 'Social Commerce', 'Mobile Social', 'Local Search',
       'High Schools', 'Online Reservations', 'Professional Networking',
       'Adventure Travel', 'Interest Graph', 'Group Buying',
       'User Experience Design', 'Online Identity',
       'Collaborative Consumption', 'Diabetes', 'Financial Exchanges',
       'Skill Assessment', 'Business Analytics', 'Residential Solar',
       'Embedded Hardware and Software', 'Social Fundraising',
       'Algorithms', 'IaaS', 'Internet Service Providers', 'Spas',
       'Tablets', 'Governance', 'K-12 Education', 'Gamification',
       'Homeless Shelter', 'Visualization', 'Emerging Markets',
       'Film Production', 'Systems', 'Lingerie', 'Music Services',
       'Natural Resources', 'Polling', 'DIY', 'Social Media Platforms',
       'Proximity Internet', 'Outdoor Advertising', 'Enterprise Security',
       'BPO Services', 'Incubators', 'Space Travel',
       'Enterprise Application', 'Babies', 'Home Automation',
       'Nightclubs', 'Law Enforcement', 'Organic', 'Low Bid Auctions',
       'Tourism', 'Enterprise Purchasing', 'Jewelry', 'Domains',
       'Crowdfunding', 'B2B Express Delivery', 'Corporate Wellness',
       'Bioinformatics', 'Social Recruiting',
       'Bridging Online and Offline', 'Industrial Automation',
       'Franchises', 'Consumer Behavior', 'Product Development Services',
       'Certification Test', 'In-Flight Entertainment',
       'Government Innovation', 'Industrial Energy Efficiency',
       'Baby Boomers', 'Textbooks', 'Natural Language Processing',
       'Human Resource Automation', 'Augmented Reality',
       'Data Center Infrastructure', 'Moneymaking', 'Geospatial',
       'Health and Insurance', 'Internet Infrastructure', 'Mac',
       'E-Books', 'Transaction Processing', 'mHealth', 'Parenting',
       'Offline Businesses', 'App Discovery', 'Heavy Industry',
       'Social Media Management', 'High Tech', 'Bitcoin', 'Groceries',
       'Video Chat', 'Food Processing', 'Home Owners', 'Computer Vision',
       'Internet TV', 'Commercial Real Estate', 'Collectibles',
       'Registrars', 'Mass Customization', 'Distribution',
       'Estimation and Quoting', 'Water Purification', 'Mobile Coupons',
       'Interface Design', '3D Printing', 'Material Science',
       'College Recruiting', 'Intellectual Property',
       'Human Computer Interaction', 'Weird Hardware', 'Coffee',
       'Educational Games', 'Intelligent Systems',
       'Electrical Distribution', 'Clean Technology IT',
       'Infrastructure Builders', 'Specialty Foods',
       'Deep Information Technology', 'Wholesale', 'Casual Games',
       'Social + Mobile + Local', 'Wine And Spirits', 'Music Education',
       'Comparison Shopping', 'Vertical Search', 'Oil & Gas',
       'Product Design', 'Outdoors', 'University Students',
       'Video Conferencing', 'Social Travel', 'Oil and Gas',
       'Mobile Emergency&Health', 'Q&A', 'Mobile Infrastructure',
       'Humanitarian', 'English-Speaking', 'Product Search', 'Soccer',
       'Face Recognition', 'Drones', 'iPod Touch',
       'Postal and Courier Services', 'Freemium', 'Debt Collecting',
       'Remediation', 'Teachers', 'Defense', 'Health Services Industry',
       'Energy IT', 'Self Development', 'Corporate IT', 'Social News',
       'Social Innovation', 'Professional Services',
       'Content Syndication', 'Unmanned Air Systems', 'Office Space',
       'Lotteries', 'Public Safety', 'Cloud-Based Music', 'Biometrics',
       'Gift Registries', 'Eyewear', 'Video Editing', 'Motion Capture',
       'Innovation Management', 'Internet Technology', 'Hedge Funds',
       'Families', 'EBooks', 'Service Industries', 'Comics',
       'Rehabilitation', 'Bicycles', 'Fleet Management', 'Rental Housing',
       'Indoor Positioning', 'Writers', 'Boating Industry', 'Designers',
       'Lifestyle Products', 'Knowledge Management',
       'Enterprise Hardware', 'New Technologies', 'Google Glass',
       'Entertainment Industry', 'Gift Exchange',
       'Intellectual Asset Management', 'Distributors',
       'Electric Vehicles', 'College Campuses', 'Senior Citizens',
       'Retirement', 'Home Renovation', 'Virtual Currency', 'Timeshares',
       'Sex', '3D Technology', 'Technical Continuing Education',
       'Lifestyle Businesses', 'Funeral Industry', 'Physical Security',
       'Quantified Self', 'CAD', 'Carbon', 'Local Commerce', 'Industrial',
       'Video Processing', 'Shared Services', 'Recreation', 'Resorts',
       'Exercise', 'Self Storage', 'Lasers',
       'Radical Breakthrough Startups', 'Social Television',
       'Mechanical Solutions', 'Independent Music Labels',
       'Real Estate Investors', 'Digital Entertainment',
       'Interior Design', 'Minerals', 'Music Venues', 'Craft Beer',
       'Bio-Pharm', 'Text Analytics', 'Animal Feed', 'Civil Engineers',
       'Angels', 'Veterinary', 'PC Gaming', 'TV Production', 'Textiles',
       'Farmers Market', 'Golf Equipment', 'Ventures for Good',
       'Assisitive Technology', 'Clinical Trials',
       'Call Center Automation', 'Alternative Medicine',
       'Insurance Companies', 'Biomass Power Generation',
       'Smart Building', 'Parking', 'Synthetic Biology', 'China Internet',
       'Musical Instruments', 'Email Newsletters', 'Consumer Lending',
       'Motors', 'Green Building', 'Musicians',
       'General Public Worldwide'], dtype=object)

As I'm sure you've guessed, not all of these markets received an equal share of investment money. Let's try breaking investment down by different markets!

**Question:**<br>
How much money was invested in each company market?

(*Hint: You'll need to **group** the data **by** market type...*)

In [64]:
df.groupby('company_market').raised_amount_total_usd.sum().sort_values(ascending=False)
#x = x.dropna().str.strip().str.replace(',','')
#x = x[x != '-']
#x.astype(float).sum()

company_market
Biotechnology                     1.493952e+11
Software                          8.670155e+10
Clean Technology                  6.981941e+10
Health Care                       6.005040e+10
E-Commerce                        4.950532e+10
Mobile                            4.221446e+10
Enterprise Software               4.218186e+10
Internet                          3.778165e+10
Advertising                       3.453942e+10
Semiconductors                    3.405033e+10
Finance                           2.536415e+10
Curated Web                       2.466805e+10
Hardware + Software               2.428014e+10
Technology                        2.299792e+10
Web Hosting                       2.033463e+10
Games                             1.864274e+10
Analytics                         1.837448e+10
Security                          1.649570e+10
Health and Wellness               1.609550e+10
Online Shopping                   1.588769e+10
Transportation                    1.578754e+10
Manufacturing                     1.206714e+10
Travel                            1.035321e+10
Education                         9.823306e+09
Social Media                      8.972769e+09
Fashion                           8.044176e+09
Video                             8.034456e+09
Search                            7.458406e+09
SaaS                              7.209908e+09
Medical Devices                   6.973417e+09
                                      ...
Carbon                            5.184200e+04
Email Newsletters                 5.000000e+04
Video Processing                  4.500000e+04
Comics                            4.000000e+04
Unmanned Air Systems              4.000000e+04
Intellectual Asset Management     3.999400e+04
Clean Technology IT               3.881700e+04
Veterinary                        3.462300e+04
CAD                               2.800000e+04
Motion Capture                    2.500000e+04
Home Owners                       2.200000e+04
Self Development                  2.000000e+04
Direct Sales                      1.800000e+04
Rehabilitation                    0.000000e+00
Debt Collecting                   0.000000e+00
Low Bid Auctions                  0.000000e+00
Weird Hardware                    0.000000e+00
Advanced Materials                0.000000e+00
Estimation and Quoting            0.000000e+00
Physical Security                 0.000000e+00
Technical Continuing Education    0.000000e+00
Synthetic Biology                 0.000000e+00
Farmers Market                    0.000000e+00
BPO Services                      0.000000e+00
Lotteries                         0.000000e+00
Gift Exchange                     0.000000e+00
Lasers                            0.000000e+00
Independent Music Labels          0.000000e+00
Green Building                    0.000000e+00
Social News                       0.000000e+00
Name: raised_amount_total_usd, Length: 712, dtype: float64

It's good to know how much investment each market saw, but we need a bit more organization here. We don't want to build our startup in just ANY market, we want the HOTTEST market!

**Question:**<br>
Which company markets received the most investment money? Find the top 10.

In [65]:
df.groupby('company_market').raised_amount_total_usd.sum().sort_values(ascending=False)[:10]

company_market
Biotechnology          1.493952e+11
Software               8.670155e+10
Clean Technology       6.981941e+10
Health Care            6.005040e+10
E-Commerce             4.950532e+10
Mobile                 4.221446e+10
Enterprise Software    4.218186e+10
Internet               3.778165e+10
Advertising            3.453942e+10
Semiconductors         3.405033e+10
Name: raised_amount_total_usd, dtype: float64

**Question:**<br>
Which company markets received no investment money? Can you find the bottom 3 markets to recieve at least SOME investment money (aka more than $0)?

In [66]:
x = df.groupby('company_market').raised_amount_total_usd.sum()
x[x>0].sort_values(ascending=True)[:3]

company_market
Direct Sales        18000.0
Self Development    20000.0
Home Owners         22000.0
Name: raised_amount_total_usd, dtype: float64

Fantastic work! Now we know which company markets to avoid, and which to pursue. 

Next, we will want to narrow down WHERE to build our startup. After all, funding can change based on where our business is located!

**Question:**<br>
In which countries did startups in the top market recieve the most funding?

In [68]:
df['company_country_code'][ df['company_market'] == 'Biotechnology'].value_counts()

USA    5444
GBR     730
DEU     286
CHE     212
FRA     200
CAN     198
ISR     152
NLD      91
CHN      72
ESP      66
SWE      65
DNK      60
BEL      52
IRL      40
AUS      38
JPN      37
AUT      36
IND      26
NOR      26
FIN      17
SGP      12
BRA      12
ITA      11
TUR       8
CHL       6
KOR       5
MYS       4
PRT       4
HKG       3
ARE       2
NZL       2
TWN       2
POL       1
MEX       1
HUN       1
CZE       1
LVA       1
ZAF       1
ARG       1
THA       1
Name: company_country_code, dtype: int64

Woohoo! Go USA! But should we start our business in Maine? In Florida? In Washington state? Let's try narrowing it down even further.

**Question:**<br>
Which state of the top country in the top company market recieved the most investment funding?

In [69]:
df['company_state_code'][ (df['company_market'] == 'Biotechnology') * 
                            (df['company_country_code'] == 'USA')].value_counts()

/home/aemerick/anaconda3/lib/python3.7/site-packages/pandas/core/computation/expressions.py:183: UserWarning: evaluating in Python space because the '*' operator is not supported by numexpr for the bool dtype, use '&' instead
  .format(op=op_str, alt_op=unsupported[op_str]))

CA    2225
MA    1029
PA     312
NC     166
NJ     140
OH     128
TX     123
MD     120
CT     112
WA      95
NY      83
MI      76
MO      71
RI      59
CO      57
MN      56
IL      55
UT      52
FL      51
TN      46
VA      45
GA      43
WI      40
IN      34
NM      30
NE      30
AZ      29
KY      23
NH      17
ME      17
AR      12
AL      12
OK      10
SC       9
OR       8
LA       8
DC       4
MT       4
DE       3
KS       3
ND       2
WV       2
IA       2
NV       1
Name: company_state_code, dtype: int64

Great! Now let's zoom in even further! 

**Quesiton:**<br>
How about the cities in the top state?

In [70]:
df['company_city'][ (df['company_market'] == 'Biotechnology') * (df['company_state_code']=='CA') *
                            (df['company_country_code'] == 'USA')].value_counts()

San Diego              368
South San Francisco    238
San Francisco          191
Menlo Park             166
Redwood City           159
Palo Alto              147
La Jolla               103
Mountain View          102
Irvine                  69
Hayward                 66
Burlingame              40
San Mateo               40
San Carlos              39
San Jose                36
Santa Clara             36
Fremont                 34
Carlsbad                31
Sunnyvale               28
Alameda                 19
Aliso Viejo             18
Campbell                16
Lucerne Valley          16
Emeryville              15
Foster City             14
Thousand Oaks           14
Tustin                  13
Laguna Hills            13
Santa Rosa              12
Los Angeles             12
Santa Monica            12
                      ...
Culver City              9
Davis                    9
Brisbane                 8
Newark                   8
Valencia                 7
Encinitas                7
San Bruno                7
Los Altos                7
Novato                   5
Berkeley                 4
Laguna Beach             3
Pasadena                 3
Santa Ana                3
San Ramon                3
City Of Industry         3
Simi Valley              2
Larkspur                 2
Chino                    2
Los Altos Hills          2
Pittsburg                1
Inglewood                1
El Dorado Hills          1
Newport Beach            1
Livermore                1
Beverly Hills            1
Agoura Hills             1
Milpitas                 1
Oakland                  1
Del Mar                  1
Moraga                   1
Name: company_city, Length: 65, dtype: int64

Are you surprised by the city? It turns out that our cofounder, Investra Q. McMoney, **hates** the hot weather. But maybe there are other cities that would be good candidates for our startup... 

**Question:**<br>
What are the top 5 cities in the USA for biotechnology company market investment funding?

In [72]:
df[ (df['company_market'] == 'Biotechnology') * (df['company_state_code']=='CA') *
                            (df['company_country_code'] == 'USA')].groupby('company_city').raised_amount_total_usd.sum().sort_values(ascending=False)

/home/aemerick/anaconda3/lib/python3.7/site-packages/pandas/core/computation/expressions.py:183: UserWarning: evaluating in Python space because the '*' operator is not supported by numexpr for the bool dtype, use '&' instead
  .format(op=op_str, alt_op=unsupported[op_str]))

company_city
San Diego              9.189710e+09
South San Francisco    5.948113e+09
San Francisco          5.211797e+09
Menlo Park             5.063562e+09
Redwood City           4.244630e+09
Palo Alto              3.813272e+09
Mountain View          2.930499e+09
Hayward                2.587115e+09
La Jolla               1.881190e+09
Burlingame             9.877457e+08
Fremont                9.334300e+08
Irvine                 8.047800e+08
Santa Clara            7.797500e+08
Carlsbad               7.630000e+08
Lucerne Valley         7.040000e+08
San Carlos             5.654018e+08
Lake Forest            4.700000e+08
San Mateo              4.239500e+08
Sunnyvale              4.005347e+08
Santa Monica           3.984000e+08
Campbell               3.894000e+08
Tustin                 3.868146e+08
Alameda                3.374066e+08
Thousand Oaks          3.345000e+08
Cupertino              3.294190e+08
Aliso Viejo            3.184545e+08
Brisbane               3.170000e+08
Laguna Hills           2.696000e+08
Emeryville             2.419000e+08
San Jose               2.415080e+08
                           ...
Foster City            1.824260e+08
Pleasanton             1.708000e+08
Santa Barbara          1.432350e+08
Los Altos              1.295000e+08
Berkeley               1.292900e+08
Los Gatos              1.060000e+08
Encinitas              9.180000e+07
San Bruno              7.848097e+07
Novato                 7.500000e+07
Pasadena               6.296000e+07
Inglewood              6.000000e+07
City Of Industry       2.804000e+07
Chino                  2.500000e+07
Culver City            2.130000e+07
Laguna Beach           1.960000e+07
Newport Beach          1.357000e+07
Beverly Hills          9.200000e+06
San Ramon              8.400000e+06
Larkspur               8.347600e+06
El Dorado Hills        8.000000e+06
Oakland                7.400000e+06
Los Altos Hills        4.700000e+06
Moraga                 4.500000e+06
Agoura Hills           2.200000e+06
Pittsburg              2.000000e+06
Livermore              1.500000e+06
Santa Ana              1.006102e+06
Del Mar                0.000000e+00
Milpitas               0.000000e+00
Simi Valley            0.000000e+00
Name: raised_amount_total_usd, Length: 65, dtype: float64

Fantastic! Looks like we have at least a few locations to scout!

In the meantime, we should consider the sources of funding. With that in mind, let's turn our attention to investor markets.

**Question:**<br>
Which investor markets raised the most money?

In [74]:
df.groupby('investor_market').raised_amount_total_usd.sum().sort_values(ascending=False)

investor_market
Venture Capital                  1.057116e+11
Finance                          8.841049e+10
Investment Management            3.523649e+10
Software                         2.236290e+10
Health Care                      1.492058e+10
Technology                       1.250482e+10
Media                            1.197075e+10
Hardware + Software              7.846328e+09
Mobile                           7.729133e+09
Financial Services               7.161927e+09
E-Commerce                       6.448765e+09
Web Hosting                      6.168666e+09
Biotechnology                    5.363902e+09
Entrepreneur                     3.072037e+09
Startups                         2.853168e+09
Wireless                         2.584863e+09
Market Research                  2.459280e+09
Banking                          2.352453e+09
Semiconductors                   2.343055e+09
Enterprise Software              2.166754e+09
Business Services                2.121592e+09
Internet Marketing               1.769610e+09
Public Relations                 1.562420e+09
Photography                      1.400558e+09
Clean Technology                 1.299886e+09
Medical Devices                  1.226444e+09
Life Sciences                    1.200611e+09
Curated Web                      1.187090e+09
Consumer Goods                   1.178150e+09
Internet                         1.165680e+09
                                     ...
Content                          7.500000e+05
Logistics                        6.000000e+05
West Africa                      5.800000e+05
Maps                             5.429440e+05
Internet TV                      5.000000e+05
Web Design                       5.000000e+05
Emerging Markets                 5.000000e+05
Intellectual Property            3.250000e+05
Natural Language Processing      2.750000e+05
Colleges                         2.600000e+05
iOS                              2.550000e+05
Intellectual Asset Management    1.229810e+05
Social Innovation                1.120000e+05
Kids                             1.000000e+05
Mobility                         8.263500e+04
CRM                              6.000000e+04
Office Space                     2.500000e+04
Monetization                     0.000000e+00
Local                            0.000000e+00
Developer APIs                   0.000000e+00
Innovation Management            0.000000e+00
Home & Garden                    0.000000e+00
App Marketing                    0.000000e+00
High Tech                        0.000000e+00
High Schools                     0.000000e+00
Online Rental                    0.000000e+00
Textbooks                        0.000000e+00
Energy Efficiency                0.000000e+00
Customer Service                 0.000000e+00
Data Security                    0.000000e+00
Name: raised_amount_total_usd, Length: 272, dtype: float64

Are you surprised? How do you interpret the difference between company market investment and investment market investment? Why wouldn't these numbers be the same? Interpreting these types of apparent mis-matches is super important, especially when it comes to generating actionable insights.

But we should go deeper here. Let's look at this data over time, shall we?

**Question:**<br>
What is the earliest year for which we have funding data?
What is the latest year?

In [88]:
df[ df['raised_amount_total_usd'].notna() ].funded_year.describe()
# 1974 - 2014

count    101090.000000
mean       2010.677673
std           2.995215
min        1979.000000
25%        2009.000000
50%        2011.000000
75%        2013.000000
max        2014.000000
Name: funded_year, dtype: float64

Let's take a look at how the investor market has changed over time. We don't want to get ourselves ensnared in a bubble!

**Question:**<br>
What investor market raised the most money in the earliest year for which we have data?

In [90]:
df[df['funded_year']==1979]

,company_permalink,company_name,company_category_list,company_market,company_country_code,company_state_code,company_region,company_city,investor_permalink,investor_name,...,investor_city,funding_round_permalink,funding_round_type,funding_round_code,funded_at,funded_month,funded_quarter,funded_year,raised_amount_total_usd,raised_amount_each
1,/organization/abo-data,ABO Data,|Enterprise Software|,Enterprise Software,USA,TX,TX - Other,Italy,/person/antonio-murroni,ANTONIO MURRONI,...,NaN,/funding-round/809e211b969c3f66440fc15ffcd29385,seed,NaN,1979-01-01,1979-01,1979-Q1,1979,1000000.0,#DIV/0!
2,/organization/abo-data,ABO Data,|Enterprise Software|,Enterprise Software,USA,TX,TX - Other,Italy,/person/filippo-murroni,FILIPPO Murroni,...,NaN,/funding-round/809e211b969c3f66440fc15ffcd29385,seed,NaN,1979-01-01,1979-01,1979-Q1,1979,1000000.0,#DIV/0!

In [97]:
df[df['funded_year'] == 1979].groupby('investor_market').raised_amount_total_usd.sum() #.groupby('investor_market').raised_amount_total_usd.sum() #.sort_values(ascending=False)

Series([], Name: raised_amount_total_usd, dtype: float64)

Did you get any results? Wny not? Try to troubleshoot.

This is another problem with big datasets. Sometimes they can be sparser than they appear.

Any one particular year, especially earlier years in this dataset, may not have much representation in this dataset. One way to approach this problem, then, is to look at investor markets using larger temporal windows.

**Exercise:**
Look at money raised in different investor markets over larger windows of time. How have the investor markets changed over time? What used to be hot? Whats hot now?

In [100]:
df[(df['funded_year'] > 1970) * (df['funded_year'] < 2000)].groupby('investor_market').raised_amount_total_usd.sum() #.groupby('investor_market').raised_amount_total_usd.sum() #.sort_values(ascending=False)

investor_market
Advertising               15800000.0
Consulting                 7500000.0
Content Creators          34800000.0
Curated Web               19500000.0
E-Commerce                15000000.0
Education                 17550000.0
Enterprise Software       15800000.0
Finance                   50814204.0
Financial Services        30500000.0
Hardware + Software       53700000.0
Health Care                4530000.0
Hospitality                      0.0
Investment Management     88999069.0
Legal                     17550000.0
Marketplaces               4800000.0
Media                     95800000.0
Mobile                     1500000.0
Photography               25000000.0
Public Relations          12000000.0
Startups                  46000000.0
Technology                15800000.0
Venture Capital          223650000.0
Video Games                      0.0
Name: raised_amount_total_usd, dtype: float64

Looks like some investor markets have changed, but others are very consistent!

**Exercise:**<br>
How does the investor market compare to company markets for these same windows of time?

Congratulations, smarties! You've made it to the end of this introduction to Pandas!

But this is really only where exploratory data analysis begins. The next step in EDA is data visualization. Try to come up with different data visualizations for these data. Data viz can often shed light on some surprising aspects of your data, and can inspire whole new analyses that you might not have otherwise expected.


Here are some ideas for data stories you can tell using visualizatitons:<br>
* Try plotting a time series of funding by company or investor market. 
* Which industries are receiving the most funding?<br> 
* Are there differences in the funding structures of different industries?<br>
* What is the geographical distribution of funding?<br>
* How has startup funding changed over time?<br>

But EDA is really only the jumping off point for real Data Science. The bread and butter of DS is data analysis, to which none of you are strangers. Try your hand at some analysis! Begin by importing some additional libraries. What kind of machine learning algorithms can you apply? Think carefully about why you would user one ML technique over another. This is a critical skill: companies will care about how you think about data. Your advanced degree is a big leg-up here: you've had experience thinking deeply about complex problems and the appropriaite analyses to apply to them. What can you come up with?


Here are some ideas of analyses or avenues of investigation:
* How does early round funding impact the future success of a company?
* Does goegraphical location affect the funding or future success of a company?
* How significant are the results?
* Does it qualitatively make sense?

Discuss these topics with your fellow Fellows on the Platform:
* Why are your results interesting?
* Could you imagine a useful product on top of this?
* From a technical point-of-view, what was challenging about dealing with this dataset?
* What were the hardest points or roadblocks along the way?
* Are there any secondary data sources you can call upon to gain further insight?
* Where did you make wrong turns?
* What aspects of analysis did you get stuck on?
* How would you approach your workflow differently?
* Could task sharing or communication be streamlined?

In [101]:
zip

zip